/* .contact {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.submit {
  min-width: 85px;
  min-height: 29px;
  margin: 9px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.822);
  border-radius: 10px;
  background-color: rgba(45, 42, 56, 0.822);
} */
/* .container border {
  padding: 10px;
} */
